/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2014, 9:01:54 AM
    Author     : SSI-Bruno
*/


#mainform {
    
    .tabbed-div {
        position: relative;
        left: 20px;
    }
    
    line-height: 150%;
    #div-addAula {
        $imgSize: 25;
        width: #{$imgSize}px;
        height: #{$imgSize}px;
        background-image: url("/solicita/img/cruz.png");
        background-repeat: no-repeat;
        background-size: #{$imgSize}px #{$imgSize}px;
        cursor: pointer;
    }
    
    fieldset {
        border-radius: 10px;
        
        #div-motivo {
            position: relative;
            top: -17px;
        }

        .hiddenInput {
            display: none;
        }
        &.motivo {
            padding-top: 20px;
            height: 220px;
        }
        &.aula {
            line-height: 200%;
            height: 180px;
            .removeAula {
                cursor: pointer;
                width: 20px;
                height: 20px;
                background-image: url("/solicita/img/remove.png");
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                top: -30px;
                left: -20px;
            }
            .removeAulaContent {
                position: relative;
                top: -25px;
            }
        }
    }
}

.data, .hora {
    width: 80px;
}