<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/task     http://www.springframework.org/schema/task/spring-task-4.0.xsd
            http://www.springframework.org/schema/util     http://www.springframework.org/schema/util/spring-util-4.0.xsd
            http://www.springframework.org/schema/context   http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/mvc       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
            http://www.springframework.org/schema/aop       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.sprijngframework.org/schema/tx        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd ">
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp" />
    <context:component-scan base-package="ufsm.ctism.controllers" />
    <context:component-scan base-package="ufsm.ctism.service" />
    <!--<context:property-placeholder location="/spring.properties" />-->
    <mvc:annotation-driven/>
    <task:annotation-driven />
    <!--<bean id="mailSender" class="ufsm.ctism.utils.MailUtils"/>-->
    
    <bean id="appProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<!--        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>-->
        <property name="location" value="classpath:application.properties" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    </bean>
    <bean id="mailService" class="ufsm.ctism.service.MailServiceImpl"/>
    <bean id="mailSender" class="ufsm.ctism.controllers.MailsController"/>
    <!--<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_NEVER" />-->

    
</beans>
